// Styling for the services section
section.about {
  padding: 0;
  .profile {
    background-image: url('../img/profile.jpg');
    background-position: center center;
    @include background-cover;
  }
  .about-desc {
    padding : 10rem;
  }
}
