// Styling for the services section
section.event {
  background-image: url('../img/event.jpg');
  background-position: center center;
  @include background-cover;
  h1 {
    font-size: 3rem;
    font-weight: 600;
    @include event-font;
  }
  h2 {
    font-size: 2rem;
    @include event-font;
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 4rem;
    }
  }
}
